//クレジットカード登録ページ
.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #b1b1b1;
  .card_add {
    width: 600px;
    height:600px;
    background-color: #ffffff;
    margin-top: 40px;
    padding: 40px 130px;
    .title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 40px;
    }
    .details {
      .number-details {
        display: flex;
        .card-number {
          padding: 0 6px;
        }
        .must_check {
          color: #ffffff;
          background-color: red;
          width: 36px;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          padding-top: 1.5px;
        }
      }
      .number {
        margin: 2px 0 35px 0;
        .cardnumber {
          width: 340px;
          height: 45px;
          border-width: 1px;
          border-style: solid;
          border-color: #cbcbcb;
          border-radius: 3px;
          padding-left: 15px;
        }
      }
      .expirationdate {
        &__details {
          display: flex;
          .date {
            padding: 0 6px;
          }
          .must_check {
          color: #ffffff;
          background-color: red;
          width: 36px;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          padding-top: 1.5px;
          }
        }
        &__choice {
          margin: 2px 0 35px 0;
          display: flex;
          .month {
            width: 170px;
            height: 45px;
            display: flex;
            .mm {
              width: 120px;
              height: 45px;
              direction: rtl;
              border-width: 1px;
              border-style: solid;
              border-color: #cbcbcb;
              border-radius: 3px;
              padding-left: 15px;
            }
            .month-details {
              padding: 13px 10px;
            }
          }
          .year {
            width: 170px;
            height: 45px;
            display: flex;
            .yy {
              width: 120px;
              height: 45px;
              direction: rtl;
              border-width: 1px;
              border-style: solid;
              border-color: #cbcbcb;
              border-radius: 3px;
              padding-left: 15px;
            }
            .year-details {
              padding: 13px 10px;
            }
          }
        }
      }
      .securitycode {
        &__details {
          display: flex;
          &__title {
            padding: 0 6px;
          }
          .must_check {
          color: #ffffff;
          background-color: red;
          width: 36px;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          padding-top: 1.5px;
          }
        }
        &__cardsecurity {
          margin: 2px 0;
          &__form {
            width: 340px;
            height: 45px;
            border-width: 1px;
            border-style: solid;
            border-color: #cbcbcb;
            border-radius: 3px;
            padding-left: 15px;
          }
        }  
        .card-question {
          margin-bottom: 35px;
          color: #1e90ff;
          font-size: 12px;
          text-align: right;
        }
        .card-question:hover {
          opacity: 0.4;
        }
      }
      .add {
        display: flex;
        justify-content: center;
        &__btn {
          width: 270px;
          height: 45px;
          color: #ffffff;
          background-color: #3ccace;
          border-style: none;
          border-radius: 6px;
        }
        &__btn:hover {
          width: 273px;
          height: 47px;
          font-weight: bold;
          box-shadow: 1px 1px 3px #b1b1b1;
        }
      }
    }
  }
}

// クレジットカード登録済の場合のクレジット情報詳細ページ
.show{
  background-color: rgb(244, 244, 244);
  text-align: center;
  padding: 30px 0px 0px 0px;
  width:100vw;
  height:700px;
  &__frame{
    background-color: white;
    text-align:center;
    padding:0px 20px 50px 20px;
    width:700px;
    margin: 0 auto;
    margin-top:80px;
    &__title{
      font-size:22px;
      text-align:center;
      padding:30px 0px 0px 0px;
      font-weight:bold;
    }
    .credit_card__list{
      &__title{
        font-size:16px;
      text-align:center;
      font-weight:bold;
      margin:10px 0px 30px 0px;
      }
      &__frame{
        display:flex;
        justify-content:center;
        .credit_card_info{
          border:1px solid #3CCACE;
          border-radius:20px;
          display:flex;
          justify-content:center;
          padding:10px;
          height:100px;
          width:350px;
          &__brand{
            .credit_brand{
              width:70px;
              height:70px;
              margin-right:40px;
            }
          }
          &__numbers{
            font-weight:bold;
            margin-top:10px;
            .number{
            }
            .expiration_date{
              display:flex;
              justify-content:space-around;
              font-weight:bold;
              font-size:16px;
              margin-top:10px;
              .expiration_date__title{
              }
              .expiration_date__info{
              }
            }
          }
        }
        .destroy__function{
          &__link{
            display:flex;
            flex-direction:column;
              list-style:none;
            .destroy__function__link__btn{
              background-color:orange;
              text-decoration:none;
              color:white;
              border-radius:50px;
              padding:10px 40px;
              margin:0px 0px 20px 30px;
            }
            .mypage__function__link__btn{
              background-color:#3CCACE;
              text-decoration:none;
              color:white;
              border-radius:50px;
              padding:10px 40px;
              margin:0px 0px 20px 30px;
            }
          }
        }
      }
    }
  }
}

