.New__content{
  &__topic{
    &__logo{
      text-align: center;
      margin-top:30px;
      &__img{
        height: 40px;
        width: 120px;
      }
    }
    &__info{
      text-align: center;
      p.registration__title{
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(233, 231, 231);
      }
      .registration__form{
        margin: 30px 0;
        &__label{
          display: flex;
          justify-content: center;
          padding-bottom:0px;
          p.title {
            font-size: 14px;
            padding-bottom:0px;
            margin-right:5px;
          }
          p.require {
            font-size:6px;
            background-color: #ffb340;
            color:white;
            padding: 5px;
            padding-bottom:0px;
            border-radius: 10px;
            height: 20px;
          }
          p.any {
            font-size:6px;
            background-color: gray;
            color:white;
            padding: 5px;
            padding-bottom:0px;
            border-radius: 10px;
            height: 20px;
          }
        }
        &__input{
          &__type {
            width:300px;
            height:40px;
            border: 1px solid rgb(180, 179, 179);
            font-size: 16px;
            border-radius: 5px;
            padding-left: 10px;
          }
        }
      }
      .New__content__topic__btn{
        display:flex;
        justify-content: center;
        .New__content__topic__pushbtn{
        background-color: #3CCACE;
        height: 40px;
        width: 300px;
        border-radius: 5px;
        font-size: 17px;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        cursor: pointer;
        }
      }
    }
  }
}