.bottomimage
  =image_tag "bg-appBanner-pict.jpg", alt: "no-image", class: "bottomimage__visual"
  .bottomimage__visual__content 誰でもかんたん、人生を変えるフリマアプリ
  .bottomimage__visual__text  今すぐ無料ダウンロード！
  -# 企業概要
.bottom
  .bottom__inner
    .bottom__inner__box
      .bottom__inner__box__content--one
        .bottom__inner__box__content--one--title1  FURIMAについて
        .bottom__inner__box__content--one--click1 会社概要（会社運営）
        .bottom__inner__box__content--one--click2 プライバシーポリシー
        .bottom__inner__box__content--one--click3 FURIMA利用規約
        .bottom__inner__box__content--one--click4 ポイントに関する特約
      .bottom__inner__box__content--two
        .bottom__inner__box__content--two--title2  FURIMAを見る
        .bottom__inner__box__content--two--click1 カテゴリー一覧
        .bottom__inner__box__content--two--click2 ブランド一覧
      .bottom__inner__box__content--three
        .bottom__inner__box__content--three--title3  ヘルプ＆ガイド
        .bottom__inner__box__content--three--click1 FURIMAガイド
        .bottom__inner__box__content--three--click2 FURIMAロゴ利用ガイドライン
        .bottom__inner__box__content--three--click3 お知らせ
    .bottom__inner__image
      .bottom__inner__image__img
        =image_tag "logo-white.png", alt: "no-image", class: "bottom__inner__image__img__logo"
      .bottom__inner__image__company  ©️FURIMA
      -# 出品ボタン
- if user_signed_in?
  .purchasebtn
    .purchasebtn__text 
    .purchasebtn__icon
      = link_to "出品する",new_item_path, method: :get, class: 'sell-btn link-text' 
      = image_tag "icon_camera.png", alt: "出品する", class: "purchasebtn__icon__camera"
- else

