.New__content
  .New__content__topic
    .New__content__topic__logo
      = link_to root_path do
        = image_tag "logo.png", alt: "FURIMA：", class: "New__content__topic__logo__img"
    .New__content__topic__info
      %p.registration__title
        出品情報の変更が完了しました。
      .New__content__topic__btn
        = link_to "トップへ戻る", root_path, class: 'New__content__topic__btn__push'
        = link_to "商品詳細ページへ進む",item_path(@item.id), class: 'New__content__topic__btn__push'