-# クレジットカード登録後の登録完了しましたページ
.create
  .create__frame
    .create__frame__message
      登録が完了しました。
    %ul.create__frame__btns
      %li.my_page_link
        = link_to "マイページに戻る", user_path(current_user.id), class: "my_page_link__btn"
      %li.credit_cards_index_link
        = link_to "登録カード一覧", card_path(current_user.id), class: "cards_index_link__btn"