//フッターの会社情報のリンク先それぞれ
@mixin company{
  text-align:center;
  margin:20px;
  cursor: pointer;
}
//フッターの会社情報のリンク先上のタイトル
@mixin company-title{
  font-weight:bold;
  text-align:center;
  margin:20px;
  font-size:16px;
}
//ピックアップのグループ
@mixin pick-group{
  background-color: white;
  padding:16px;
  list-style: none;
}
//商品画像２枚目以降
@mixin picture{
  width:60px;
  height:60px;
  margin:10px 2px;
  cursor: pointer;
}
//パンくず機能
@mixin bread{
  margin: 0px 10px;
  color: black;
  text-decoration:none;
  cursor: pointer;
}
//商品詳細項目の親要素
@mixin information-parent{
  display:flex;
  justify-content:center;
}
//商品詳細項目の子要素、題目
@mixin information-subject{
  width:250px;
  background-color: #eee;
  font-weight: 400;
  padding: 16px;
  font-size: 14px;
  text-align: center;
}
//商品詳細項目の子要素、編集できる項目
@mixin information-content{
  width:650px;
  text-align:left;
  padding: 16px;
  font-size: 14px;
}

*{
  box-sizing: border-box;
  .detail{
    //ヘッダー
    .header{
      padding-top: 15px;
      &__inner{
        padding:0px 60px;
        &__main{
          display:flex;
          justify-content: center;
          &__logo{
            &__img{
              height:40px;
              width:120px;
              cursor: pointer;
            }
          }
          &__searchbox{
            display:flex;
            justify-content: center;
            &__input{
              &__search{
                display:flex;
                justify-content: right;
                position:relative;
                &__keyword{
                  width: calc(100vw - 350px);
                  height: 36px;
                  margin-left:30px;
                  font-size:16px;
                }
                .search-btn{
                  background-color: #3CCACE;
                  color: #3CCACE;;
                  border: 1px solid  #3CCACE;
                  width: 40px;}
                .search-btn__icon{
                  position:absolute;
                  top:9px;
                  left:calc(100vw - 310px);
                  width:20px;
                  height:20px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        &__nav{
          //ヘッダー下のカテゴリーボタン
          display: flex;
          justify-content: space-between;
          margin: 10px;
          &__left{
            display:flex;
            justify-content: center;
            &__cat{
              cursor: pointer;
              font-size: 14px;
              margin-right: 40px;
            }
            &__brand{
              cursor: pointer;
              font-size: 14px;
            }
          }
          &__right{
            display:flex;
            justify-content: center;
            &__login{
              cursor: pointer;
              font-size: 14px;
              margin-right: 20px;
            }
            &__new{
              cursor: pointer;
              font-size: 14px;
            }
          }
        }
      }
    }
    //パンくず機能
      nav.breadCrumbs{
        ul{
          width:100%;
          display:flex;
          justify-content:left;
          list-style: none;
          text-decoration: none;
          font-size:14px;
          border-top: 1px solid #eee;
          padding: 20px 60px;
          box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
          li.top{
            text-decoration: none;
            color: black;
            .parent-category{
              margin: 0px 10px;
              text-decoration: none;
              color: black;
            }
          }
          li.icon{
            color: black;
            text-decoration:none;
          }
          li.second{
            .child-category{
              @include bread;
            }
          }
          li.third{
            .child-category__2{
              @include bread;
            }
          }
          li.forth{
            .child-category__3{
              @include bread;
            }
          }
          li.fifth{
            .child-category__now{
              font-weight: bold;
              @include bread;
            }
          }
        }
      }
      //商品詳細コンテンツは以下より↓↓
    &__content{
      background-color: rgb(244, 244, 244);
      text-align: center;
      padding: 30px 0px 0px 0px;
      width:100vw;
      &__inner{
        background-color: white;
        text-align:center;
        padding:0px 20px;
        width:700px;
        margin: 0 auto; 
      &__name{
        text-align:center;
        font-weight: bold;
        font-size: 24px;
        padding-top:40px;
      }
      &__picture{
        text-align: center;
        &__main{
          width:400px;
          height:400px;
          padding-top:10px;
          cursor: pointer;
        }
      }
      &__sub{
        display: flex;
        justify-content: center;
        &__img2{
          &__picture{
            @include picture;
          }
        }
        &__img3{
          &__picture{
            @include picture;          
          }
        }
        &__img4{
          &__picture{
            @include picture;          
          }
        }
        &__img5{
          &__picture{
            @include picture;
          }
        }
        &__img6{
          &__picture{
            @include picture;          
          }
        }
        &__img7{
          &__picture{
            @include picture;        
          }
        }
        &__img8{
          &__picture{
            @include picture;        
          }
        }
        &__img9{
          &__picture{
            @include picture;      
          }
        }
        &__img10{
          &__picture{
            @include picture;        
          }
        }
      }
      &__price{
        font-size:40px;
        font-weight:bold;
      }
      &__tax{
        margin-bottom: 20px;
      }
      &__introduction{
        text-align: left;
        font-size: 17px;
        padding: 20px 40px;
        &__text{
        }
      }
      &__information{
        &__data{
          &__exhibitor{
            @include information-parent;
            margin-top:20px;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;             
            }
          }
          &__category{
            @include information-parent;
            &__subject{
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;  
              @include information-subject;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;
              color:#3CCACE;
            }
          }
          &__brand{
            @include information-parent;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;          
            }
          }
          &__condition{
            @include information-parent;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;           
            }
          }
          &__postage{
            @include information-parent;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;           
            }
          }
          &__prefacture{
            @include information-parent;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;
              color:#3CCACE;              
            }
          }
          &__preparation{
            @include information-parent;
            &__subject{
              @include information-subject;
              border-top: 1px solid #dedede;
              border-left:1px solid #dedede;
              border-left:1px solid #dedede;
            }
            &__content{
              @include information-content;
              border-top: 1px solid #dedede;
              border-right: 1px solid #dedede;
              border-bottom: 1px solid #dedede;             
            }
          }
          //いいね 、編集、削除、警告
          &__footer{
            display:flex;
            justify-content: space-between;
            &__star{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
              margin:30px 0px;
            }
            &__edit{
              margin-right: auto;
              padding: 6px 30px;
              border-radius: 40px;
              color: white;
              border: 1px solid #3CCACE;
              margin:30px 0px;
              background-color:#3CCACE;
            }
              &__destroy{
                margin-right: auto;
                padding: 6px 30px;
                border-radius: 40px;
                color: white;
                border: 1px solid #ffb340;
                margin:30px 0px;
                background-color:#ffb340;
              }
            &__warning{
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
              margin:30px 0px;
              font-size:14px;
            }
          }
        }
      }  
    } 
    //コメント
    .comment{
      background-color: rgb(244, 244, 244);
      text-align: center;
      padding: 30px 0px 0px 0px;
      width:100vw;
      &__inner{
        display:block;
      text-align:center;      
        &__text{
          //width: 100%;
          min-height: 104px;
          text-align:center;
          background-color: white;
          text-align:center;
          padding:30px 20px;
          width:700px;
          margin: 0 auto;
          &__box{
            min-height: 104px;
            padding: 10px;
            display:flex;
            flex-direction:column;
            align-items:center;
            &__form{
              width: 500px;
              min-height: 104px;
              padding: 10px;             
              }
              p.attention{
                font-size:12px;
                color:black;
                text-align:left;
                padding:10px 20px 10px 20px;
                background-color: rgb(244, 244, 244);
                width:500px;
              }    
            .comment__inner__btn{
                font-size: 18px;
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 500px;
                font-size: 18px;
                border-radius: 100px;
                margin-top:10px;     
              }
              //購入ボタン
            .perchase{
              text-align: center;
              background: #ffb340;
              border: 1px solid #ffb340;
              width: 300px;
              border-radius: 100px;
              margin-top:60px;
              .perchase-btn{
                font-size: 18px;
                line-height: 48px;
                color: #fff;
                font-size: 18px;
                margin-top:10px; 
                text-decoration:none;
              }
            }
          }
        }
      }    
    }
    //同じカテゴリーの他の商品をもっと見る
        .more{
          background-color: #f4f4f4;
          text-align: center;
          padding: 5px 0px 0px 0px;
          width:100vw;
          &__direction{
            display:flex;
            justify-content:space-between;
            text-align:center;
            color: #3CCACE;
            background-color: rgb(244, 244, 244);
            text-align:center;
            width:700px;
            margin: 0 auto;        
            &__left{     
            }
            &__right{    
            }
          }
          p.more-item{
            color: #3CCACE;
            font-weight: bold;
            font-size: 18px;
            background-color: #f4f4f4;
            margin-bottom:0px;
            text-align:left;
            width:700px;
            margin: 0 auto;
            padding-top:30px;
          }
        }
      }
    }

    .pick-more{
      width:100%;
      &__inner{
        &__topic{
          &__main{
            display: flex;
            justify-content: center;
            cursor: pointer;
            padding: 30px 80px 80px 80px;
            background-color: #f4f4f4;
            &--one{
              &__img{
                &__picture{
                  width:200px;
                  height:200px;
                }
              }
              &__content{
                &__group{
                  @include pick-group;
                  li.pick-more__name{
                    font-size:16px;
                    text-align: left;
                  }
                  .pick-more__middle{
                    display: flex;
                    justify-content:space-between;
                    li.pick-more__middle__price{
                      font-size:16px;
                    }
                    li.pick-more__middle__star{
                      font-size:16px;
                    }
                  }
                  li.pick-more__tax{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
            &--two{
              &__img{
                &__picture{
                  width:200px;
                  height:200px;
                }
              }
              &__content{
                &__group{
                  @include pick-group;
                  li.pick-more__name{
                    font-size:16px;
                    text-align: left;
                  }
                  .pick-more__middle{
                    display: flex;
                    justify-content:space-between;
                    li.pick-more__middle__price{
                      font-size:16px;
                    }
                    li.pick-more__middle__star{
                      font-size:16px;
                    }
                  }
                  li.pick-more__tax{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
            &--three{
              &__img{
                &__picture{
                  width:200px;
                  height:200px;
                }
              }
              &__content{
                &__group{
                  @include pick-group;
                  li.pick-more__name{
                    font-size:16px;
                    text-align: left;
                  }
                  .pick-more__middle{
                    display: flex;
                    justify-content:space-between;
                    li.pick-more__middle__price{
                      font-size:16px;
                    }
                    li.pick-more__middle__star{
                      font-size:16px;
                    }
                  }
                  li.pick-more__tax{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
    
//下にあるイメージ画像　誰でも簡単人生をかえるフリマアプリ
  .bottomimage{
    position: relative;
    margin-top: 0px;
    &__visual{
      height: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      width:100%;
      &__content{
        font-size:24px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        position: absolute;
        top: 90px;
        font-weight: bold;
        text-align: center;
        padding: 80px;
      }
      &__text{
        font-size:32px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        position: absolute;
        top: 190px;
        padding-top:0px;
        text-align: center;
        padding: 80px;
      }
    }
  }
  //企業案内
  .bottom{
    width:100%;
    background-color:black;
    color: white;
    &__inner{
      &__box{
        padding:60px 50px 0px 50px;
        display:flex;
        justify-content: space-evenly;
        font-size:12px;
        &__content--one{
          &--title1{
            @include company-title;
          }
          &--click1{
            @include company;
          }
          &--click2{
            @include company;
          }
          &--click3{
            @include company;
          }
          &--click4{
            @include company;
          }
        }
        &__content--two{
          &--title2{
            @include company-title;
          }
          &--click1{
            @include company;
          }
          &--click2{
            @include company;
          }
        }
        &__content--three{
          &--title3{
            @include company-title;
          }
          &--click1{
            @include company;
          }
          &--click2{
            @include company;
          }
          &--click3{
            @include company;
          }
        }
      }
      .bottom__inner__image{
        &__img{
          text-align:center;
          &__logo{
            width:150px;
            height:45px;
            cursor: pointer;
          }
        }
        &__company{
          text-align:center;
          padding: 0px 0px 80px 0px;
        }
      }
    }
  }

    
//出品カメラボタン
  .purchasebtn{
    position:fixed;
    bottom: 32px;
    right: 32px;
    width: 120px;
    height: 120px;
    background-color: #3CCACE;
    border-radius: 4%;
    padding:15px;
    text-align:center;
    cursor: pointer;
    &:hover{
      opacity:90%;
    }   
    &__text{
      font-size: 18px;
      color: white;
    }
    &__icon{
      margin-top:5px;
      &__camera{
        width:55px;
        height:55px;
      }
    }
  }
}